# Игнорировать файл с секретами
.env

# Игнорировать виртуальное окружение
.venv/

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать файлы базы данных и процесса
news.db
bot.pid